.depositDialog{
    padding: 0;
    .depositDialog-content{
        width: 100%;
        height: 29.5rem;
    }
    .reason-box{
        width: 28rem;
        padding-right: 1rem;
        box-sizing: border-box;
        height: 100%;
        .input-el{
            width: 48%;
        }
        .inputs{
            margin-bottom: 1.5rem;
        }

    }
    .keyboard-box{
        width: 17rem;
        background: rgba(0,0,0,0.04);
        border-left: 1px solid rgba(0,0,0,0.12);
        padding: 1rem;
        margin-top:-1rem;
        margin-right: -1rem;
        box-sizing: border-box;
        &>div{
            padding-top: 0;
        }
        .number-keyboard{
            width: 15rem;
            height: 17.5rem;
            gap: 0.5rem
        }
    }
    .footer-dialog{
        height: 4.5rem;
    }
}
.infoDepositDialog{
    .prices{
        .name{
        }
        .price{
        }
    }
}
.i-MuiOption-root-selected-nobg{
    .Mui-selected{
        background-color: transparent !important;
    }
}
.hidden{
    display: none !important;
}
.stores-filter{
    .input-nobg{
        padding:0;
        background:none;
        border:none;
        box-shadow:none;
        border-width: 0;
        border-radius: 0;
        --Input-focusedHighlight:none;
        &:hover{
            outline: none;
            border:none;
        }
    }
    .input-nobg-box{
        border-top:1px solid rgba(0,0,0,0.12);
        border-bottom:1px solid rgba(0,0,0,0.12);

    }
}

.confirm-modal{
    .footer-dialog{
        padding-top:0;
        border-top: none;
    }
}
.i-table{
    width: max-content;
    min-width: 100%;
    tbody td{
        cursor: pointer;
        &:hover{
            background-color: var(--hover);
        }
    }
    .i-t-sum{
        overflow: visible;
        &:after{
            display: block;
            content: '';
            position: absolute;
            left: -6px;
            top:0;
            width: 6px;
            height: calc(100% + 1px);
            background:  linear-gradient(to left, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
        }
    }
}
